{% extends "../../base.html" %}

{% block body %}

<div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a class="this" href="">基础信息</a>
                <a class="this-page" href="">项目管理</a>
                <a><cite>编辑项目</cite></a>
            </span>
        </div>
        <div class="layui-row">
            <div class="layui-col-md8 layui-col-md-offset1">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>编辑项目</legend>
                </fieldset>
                <form class="layui-form" action="/base/project_update/" method="post">
                <input name="plan_id" value ={{ plan.plan_id }} hidden>

                    <div class="layui-form-item">
                        <label class="layui-form-label">计划名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="prj_name" lay-verify="title" autocomplete="off" value ={{plan.plan_name }}  class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">所属项目</label>
                        <div class="layui-input-block">
                            <select name="prj_id" lay-filter="aihao">
                                <option value={{ plan.project_id }}>{{ plan.project }}</option>
                                {% for prj in prj_list %}
                                    <option value={{ prj.prj_id }}>{{ prj.prj_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">测试环境</label>
                        <div class="layui-input-block">
                            <select name="env_id" lay-filter="aihao">
                                <option value={{ plan.env_id }}>{{ plan.environment }}</option>
                                {% for env in env_list %}
                                    <option value={{ env.env_id }}>{{ env.env_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <textarea name="description"  class="layui-textarea">{{plan.description }}</textarea>
                        </div>
                    </div>

{#                    <div class="form-group">#}
{#                        <label class="col-sm-2 control-label">用例列表</label>#}
{#                        <a id="getcases" onclick="get_cases()" class="btn btn-primary">获取用例</a>#}
{#                        <div id="list" class="col-sm-10 col-sm-offset-2">#}
{#                        </div>#}
{#                    </div>#}

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

{% endblock%}